@font-face {
  font-family: 'PTSansNarrowRegular';
  src: url('/fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot');
  src: url('/fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot#iefix') format('embedded-opentype'), url('/fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff') format('woff'), url('/fonts/PTSansNarrowRegular/PTSansNarrowRegular.ttf') format('truetype'), url('/fonts/PTSansNarrowRegular/PTSansNarrowRegular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansNarrowBold';
  src: url('/fonts/PTSansNarrowBold/PTSansNarrowBold.eot');
  src: url('/fonts/PTSansNarrowBold/PTSansNarrowBold.eot#iefix') format('embedded-opentype'), url('/fonts/PTSansNarrowBold/PTSansNarrowBold.woff') format('woff'), url('/fonts/PTSansNarrowBold/PTSansNarrowBold.ttf') format('truetype'), url('/fonts/PTSansNarrowBold/PTSansNarrowBold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font: normal 18px/27px 'PTSansNarrowRegular', Arial, sans-serif;
  color: #f7f4f1;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  min-height: 395px;
  /*временно для сетки*/
}
.page-header__logo {
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
  }
  .page-header__logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    padding-bottom: 648px;
  }
  .page-header__logo {
    height: 648px;
  }
}
.main-nav {
  width: 320px;
  margin: 0 auto;
  background-color: red;
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
  }
  .main-nav__wrapper {
    background-color: green;
    width: 320px;
    margin: 0 auto;
  }
  .main-nav__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__items {
    float: left;
    width: 570px;
    min-height: 70px;
  }
  .main-nav__user-items {
    float: right;
    width: 60px;
    min-height: 70px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 640px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-nav__items {
    width: 780px;
  }
  .main-nav__user-items {
    width: 160px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .stats {
    width: 960px;
  }
}
.stats__header {
  min-height: 130px;
  padding: 27px 38px 26px 38px;
  background-color: green;
}
.stats__items {
  width: 100%;
  height: 320px;
  background-color: gray;
}
@media (min-width: 768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -184px;
  }
  .stats__header {
    padding: 0;
    padding-top: 31px;
    padding-bottom: 24px;
  }
  .stats__header::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__items {
    display: block;
  }
  .stats__items::after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 1200px) {
  .stats {
    margin-top: -159px;
  }
  .stats::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header {
    float: left;
    width: 240px;
    min-height: 263px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .stats__items {
    float: right;
    display: block;
    width: 640px;
  }
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 320px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px;
  }
}
.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  min-height: 145px;
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;
}
.advantages__item:nth-child(n+2) {
  display: none;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding-top: 42px;
  }
  .advantages__items {
    padding-bottom: 4px;
  }
  .advantages__item {
    min-height: 95px;
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 39px;
    padding-left: 128px;
  }
  .advantages__item:nth-child(n+2) {
    display: block;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    min-height: 275px;
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .advantages__items {
    display: table;
    width: 100%;
    height: 275px;
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
}
.news__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 440px;
  padding-top: 67px;
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .news__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .news__wrapper {
    width: 960px;
  }
}
.news__title {
  min-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}
.news__items {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  list-style: none;
}
.news__item {
  min-height: 110px;
  margin: 0 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 70px;
}
.news__item:nth-child(n+3) {
  display: none;
}
.news__item:nth-child(2) {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .news {
    padding-top: 90px;
  }
  .news__wrapper {
    min-height: 270px;
    padding: 0;
  }
  .news__title {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
  }
  .news__items {
    font-size: 0;
  }
  .news__item {
    display: inline-block;
    width: 220px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
    vertical-align: top;
    font-size: 18px;
  }
}
