@fontPTSansNarrow: 'PTSansNarrow';
@fontPTSansNarrowRegular: '@{fontPTSansNarrow}Regular';
@fontPTSansNarrowBold: '@{fontPTSansNarrow}Bold';

@font-weight-regular: 400;
@font-weight-bold: 700;
@font-style-normal: 'normal';
