.footer__wrapper {
  .container();
  .clearfix();
  background-color: red;
  padding-top: 32px;
  padding-bottom: 24px;
}

.page-footer__contacts {
  margin-bottom: 25px;
  background-color: green;
}

.page-footer__social {
  margin-bottom: 25px;
}
